$shape-1: "M 100 600 q 0 -500, 500 -500 t 500 500 t -500 500 T 100 600 z";
$shape-2: "M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z";
$shape-3: "M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z";
$shape-4: "M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z";
$shape-5: "M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z";
$shape-6: "M 100 600 q 100 -600, 500 -500 t 400 500 t -500 500 T 100 600 z";

$orb-1-color: #2dd2cf;
$orb-2-color: #35ca85;
$orb-3-color: #649d62;
$orb-4-color: #17FF32;


.orbs {
	position: relative;
	width: 80px;
	height: 80px;
	z-index: 2;
}

.orb {
	animation: rotate 3s infinite alternate ease-out,  orb-glow-anim 3s ease-in-out;
	animation-fill-mode: forwards;
	transform-origin: 50% 50%;
	path {
		transform-origin: 50% 50%;
		transition: fill 800ms ease;
	}
}

.orb-1 {
	path {
		filter: blur(1rem);
		animation: orb-anim-1 1s infinite alternate ease-in-out;
		transform: scale(0.8);
	}
}

.orb-2 {
	path {
		animation: orb-anim-2 2s infinite alternate-reverse ease-in-out;
		animation-fill-mode: forwards;
		filter: blur(0.75rem);
		transform: scale(0.78);
	}
}

.orb-3 {
	path {
		animation: orb-anim-3 3s infinite alternate-reverse ease-in-out;
		animation-fill-mode: forwards;
		filter: blur(1.2rem);
		transform: scale(0.76);
	}
}

.orb-4 {
	path {
		animation: orb-anim-4 4s infinite alternate-reverse ease-in-out;
		animation-fill-mode: forwards;
		filter: blur(2rem);
		transform: scale(0.80);
	}
}


@keyframes orb-anim-1 {
	0% {
		d: path($shape-1);
	}
	30% {
		d: path($shape-2);
	}
	70% {
		d: path($shape-3);
	}
	100% {
		d: path($shape-4);
	}
}

@keyframes orb-anim-2 {
	0% {
		d: path($shape-3);
	}
	40% {
		d: path($shape-5);
	}
	80% {
		d: path($shape-2);
	}
	100% {
		d: path($shape-6);
	}
}

@keyframes orb-anim-3 {
	0% {
		d: path($shape-2);
	}
	35% {
		d: path($shape-4);
	}
	75% {
		d: path($shape-6);
	}
	100% {
		d: path($shape-3);
	}
}

@keyframes orb-anim-4 {
	0% {
		d: path($shape-4);
	}
	30% {
		d: path($shape-6);
	}
	70% {
		d: path($shape-2);
	}
	100% {
		d: path($shape-5);
	}
}

@keyframes orb-glow-anim {
	from {
		fill: $orb-3-color;
		opacity: 0.10;
	}
	to {
		fill: $orb-4-color;
		opacity: 1.0;
	}
}



@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}