html {
  box-sizing: border-box;
}
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
	font-family: var(--sans);
  padding: 0;
	margin: 0;
  background-color: var(--black);
  color: var(--white);
}

#intro  {
	padding: 4rem 2rem 10rem 1rem;
  line-height: 1.8;
	max-width: 1300px;
	margin: 0 auto;
}

#intro p:first-child {
	font-family: var(--mono);
}

#intro h2 {
	font-family: var(--mono);
	color: var(--aqua);
	font-size: 3rem;
}

#intro h3 {
	font-size: 2rem;
}

#intro a {
  color: var(--magenta);
}

#intro p {
	margin: 0;
	padding: 0;
}

#intro a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

#main-navigation {
	margin: 0 auto;
	padding: 0 1rem 0 1rem;
}


#main-navigation ul {
	padding: 1rem auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	list-style-type: none;
}

#main-navigation li:first-child {
	padding: 1rem;
	text-align: center;
	flex-basis: 100%;
}

#main-navigation a {
	font-size: 110%;
	color: white;
	text-decoration: none;
}

#main-navigation span[class*="github"] {
	font-size: 140%;
}

#main-navigation span[class*="linkedin"] {
	font-size: 150%;
}

#main-navigation span[class*="terminal"] {
	font-size: 60%;
	padding-right: 0.2rem;
}

.button {
	color: var(--white);
	background-color: var(--magenta);
	padding: 1rem;
	border-radius: 10px;
}

.button:hover {
	background-color: var(--hotmag);
}


#main-navigation a:hover, #main-navigation span[class*="linkedin"]:hover, #main-navigation span[class*="github"]:hover {
	cursor: pointer;
	color: var(--hotmag);
}

#main-navigation span:hover {
	color: var(--white);
	cursor:pointer;
}

/* backgrounds styles */

.section-plum {
	background-color: var(--plum);
}

.gradient {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
	height: 2px;
}

.section-dkblue {
	background-color: var(--dkblue);
}

/* ------------------- */

#contact {
	font-size: 120%;
	margin: 0 auto;
	text-align: center;
	max-width: 400px;
	padding: 3rem 0;
}

#contact h3 {
	font-size: 140%;
}

#contact a {
	display: block;
	text-decoration: none;
	padding-top: 1rem;
}
footer {
	max-width: auto;
	margin: 2rem;
	font-size: 150%;
	text-align: center;
	margin: 0 auto;
	padding: 2rem 0;
}

footer ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	list-style-type: none;
}

footer ul li span {
	display: block;
	padding: 1rem;
	color: var(--magenta);
	font-size: 180%;
}

footer span {
	display: block;
	margin: 0;
	padding: 0;
	color: var(--white);
}

footer li span:hover {
	color: var(--white);
}

footer p:last-child {
	font-size: medium;
}

#projects {
	background-color: var(--dkblue);
}

#projects h2 {
	padding: 3rem;
	margin-bottom: 2rem;
	font-size: 200%;
}

#projects h4 {
	padding: 0rem 1rem;
	font-family: var(--mono);
}

#projects h3 {
	color: var(--aqua);
	padding: 0.4rem 1rem;
}

#projects p {
	background-color: var(--black);
	border-radius: 10px;
	padding: 0.8rem;
	margin: 1rem;
}

#projects ul {
	padding: 0;
	margin: 0;
	padding-left: 1rem;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 1.5rem;
}


#projects img {
	width: 90%;
	padding: 1rem;
	border-top: 1px solid var(--aqua);
	border-left: 1px solid var(--aqua);
	border-radius: 10px;
	margin: 1rem;
}

#projects a {
	color: var(--magenta);
}

#projects a:hover {
	color: var(--hotmag);
	text-decoration: none;
}




@media(min-width: 850px) {
	#main-navigation {
		max-width: 1350px;
	}
	#main-navigation li:first-child {
		flex-basis: auto;
		text-align: left;
		margin-right: auto;
	}
}

@media(min-width: 550px) {
	#projects {
		max-width: 1300px;
		margin: 0 auto;
	}
	article {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	#projects img {
		grid-column: 1 / 6;
		grid-row: 1 / 2;
	}

	#projects .reverse .text {
		grid-column: 1 / 9;
		grid-row: 1 / 2;
		text-align: left;
	}

	#projects .reverse img {
		grid-column: 6 / 11;
		grid-row: 1 / 2;
	}

	#projects .reverse ul {
		justify-content: flex-start;
	}

	.text {
		grid-column: 4 / 12;
		grid-row: 1 / 2;
		order: 2;
		text-align: right;
	}

	#projects p {
		border: 3px solid var(--magenta);
		text-align: center;
	}

	#projects ul {
		justify-content: flex-end;
		margin-right: 1rem;
	}
}


@media(max-width: 400px) {
	#intro h2 {
		font-size: medium;
	}
	#contact {
		max-width: auto;
	}
	footer {
		padding: 2rem 0;
		margin: 0;
		max-width: auto;
	}
	#contact {
		padding: 2rem 0;
		margin: 0;
		max-width: auto;
	}
}